.adminNews
{
	width : 100%;
}

.playerInfo
{
	float : left;
	width : 50%;
}

.saveButton
{
	float     : right;
	font-size : 600%;
	height    : 100px;
	width     : 50%;
}


@media screen and (min-width:200px) and (max-width:425px) {

	body
	{
		background : #aaa;
	}

	.saveButton
	{
		border         : 2px solid black;
		color          : green;
		float          : right;
		font-size      : 600%;
		height         : auto !important;
		text-align     : center;
		vertical-align : middle;
		width          : 100%;
	}

	ul
	{
		list-style-type : none;
		padding-left    : 0px;
		width           : 100%;
	}

	.event
	{
		border : 0px;
	}

	input[type="radio"],
	input[type="checkbox"]
	{
		height : 40px;
		width  : 40px;
	}

	h2
	{
		background-color : white;
		color            : red;
		float            : left;
		text-align       : center;
		width            : 100%;
	}

	h3
	{
		float         : left;
		margin-bottom : 0px;
		margin-top    : 0px;
		text-align    : center;
		width         : 100%;
	}

	h3 span
	{
		color : red;
	}
}

