/***************************************
 * @scriptAuthor Matthew Round <roundyz32@gmail.com>
 * @scriptDate   01-12-16 (21:00)
 * @scriptName   css/custom/app.css
 ***************************************/

body
{
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	color:white;
	font-weight:900;
	text-transform: uppercase;
}

.eventScoreBoard
{
	border:2px solid black;
	border-radius:10px;
	background-color:rgba(0, 0, 255, 0.5);
	width:200px;
}

.eventScoreBoard:first-child
{
	height:60px;
	padding-top:50px;
	text-align: center;
}

.eventTitle
{
	width:100%;
	text-align: center;
}

.ultimate
{
	font-weight:900;
	background:blue;
	border: 1px solid darkblue;
	padding:2px 10px 2px 10px;
}

.eventName
{
	font-weight:1900;
	background:blue;
	border: 1px solid darkblue;
	padding:5px 10px 5px 10px;
}

.scoreBoard
{
	width:100%;
}

.rightSide
{
	right: 0;
	float: right;
	margin-right: 10%;
	margin-top: -50px;
}
.maxwell
{
	background:blue;
	padding:4px 2px 4px 10px;
}
.sports
{
	background:red;
	padding:4px 10px 4px 2px;
}
.maxwellSports
{
	margin-bottom:10px;
}

.profileImage
{
	width:90%;
}

.profileStats
{
	width:100%;
}

.bottom
{
    width: 100%;
    bottom: 0;
	background: linear-gradient(to bottom, white 0%, grey 50%,grey 51%,white 100%);
    position: absolute;
}
