/***************************************
 * @scriptAuthor Matthew Round <roundyz32@gmail.com>
 * @scriptDate   01-12-16 (21:00)
 * @scriptName   css/custom/app.css
 ***************************************/

body
{
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	color:white;
	font-weight:900;
	text-transform: uppercase;
	margin:0px;
}

.eventScoreBoard
{
	border:2px solid black;
	border-radius:10px;
	background-color:rgba(0, 0, 255, 0.5);
	width:200px;
}

.eventScoreBoard:first-child
{
	height:60px;
	padding-top:50px;
	text-align: center;
}

.eventTitle
{
	width:100%;
	text-align: center;
}

.ultimate
{
	font-weight:900;
	background:blue;
	border: 1px solid darkblue;
	padding:2px 10px 2px 10px;
}

.eventName
{
	font-weight:190%;
	background:blue;
	border: 1px solid darkblue;
	padding:5px 10px 5px 10px;
}

.controls
{
	display:none;
}

.scoreBoard
{
	width:100%;
}

.rightSide
{
	right: 0;
	float: right;
	margin-right: 10%;
	margin-top: -50px;
}

.maxwell
{
	background:blue;
	padding:4px 2px 4px 10px;
}

.maxwell a
{
	color:white;
}

.sports
{
	background:red;
	padding:4px 10px 4px 2px;
}

.maxwellSports
{
	margin-bottom:10px;
}

.profileImage
{
	width:90%;
}

.profileStats
{
	width:100%;
}

.bottom
{
    width: 100%;
    bottom: 0;
	background: linear-gradient(to bottom, white 0%, grey 50%);
    position: absolute;
    height: 100px;
}

.players
{
	border: 1px solid black;
	width: 49%;
	float: left;
	padding-bottom: 20px;
}

.playerCard
{
	padding-left: 5px;
	padding-top: 5px;
}

.playerCard .profileName,
.playerCard .profileImage,
.playerCard .countryName
{
	text-align : center;
}

.event
{
	border: 1px solid black;
	width: 100%;
	float: left;
	margin-bottom: 2%;
}


.eventsList
{
	list-style: none;
	padding-left:0px;
	margin-top:-25px;
	float:left;
}

.eventsList li,
.news h1
{
	-webkit-transform:skew(-20deg);
	-moz-transform:skew(-20deg);
	-o-transform:skew(-20deg);
	margin-top:5px;
	padding:5px;
	color:white;
	background: linear-gradient(to bottom, darkblue 0%, blue 100%);
	border:2px solid blue;
	border-radius:6px;
	width:90px;
	text-align:center;
	position:relative;
}

.eventsList li:nth-child(1)
{
	margin-left:60px;
	z-index:3;
}

.eventsList li:nth-child(2)
{
	margin-left:40px;
	margin-top:-5px;
	color:#aaa;
	z-index:2;
}

.eventsList li:nth-child(3)
{
	margin-left:20px;
	margin-top:-5px;
	color:#aaa;
	z-index:1;
}

.news h1
{
	color:red;
	position:relative;
	float:left;
	height:30px;
	width:300px;
	margin-bottom: 0px;
	margin-top: -20px;
}

.news span
{
	padding-top: 5px;
   width: 100%;
   font-size: 140%;
   color: black;
   padding-left: 20px;
}

.vsList
{
	width: 100%;
	height:20px;
	color:white;
	background: linear-gradient(to bottom, red 0%, darkred 100%);
	margin-top:2px;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

.vsList li
{
	display:inline;
}

.country img
{
	width:100px;
	height:30px;
}

#canvas
{
	width: 1920px;
	height: 1080px;
	position: fixed;
	z-index: -9999;
}

@media screen and (min-width:200px) and (max-width:425px) {

	body
	{
		background:none;
	}

	#canvas,
	.eventsList,
	.news h1,
	.vsList,
	.ultimate,
	.dateContainer,
	.playerCard
	{
		display:none;
	}

	.rightSide
	{
		width: 100%;
		margin: 0px;
		float: left;
	}

	.eventScoreBoard
	{
		width: 100%;
		border: 0;
		border-radius: 0;
	}
	

	.eventScoreBoard:first-child
	{
		height:60px;
		padding:0;
		text-align: center;
	}

	.maxwellSports
	{
    width: 100%;
    float: left;
	}

.maxwell
{
width: 50%;
    height: 70px;
    float: left;
    padding: 0;
}

.sports
{
    width: 50%;
    float: right;
    padding: 0px;
    height: 70px;
}

.maxwell a,
.sports
{
	color:white;
font-size:160%;
}

.updating
{
    display: block;
    position: absolute;
	top: 50px;
	left: 184px;
}


.scoreBoard td,
.eventName
{
	font-size:150%;
}

.news span
{
	padding-left: 0px;
}

.controls
{
	display:block;
}

.controls a,
.controls button
{
align-items: flex-start;
background-color: crimson;
border: 0px outset buttonface;
box-sizing: border-box;
color: buttontext;
cursor: default;
display: inline-block;
font: 160% Arial;
letter-spacing: normal;
margin: 2% 0em 0em 0em;
padding: 2px 6px 3px;
text-align: center;
text-decoration: none;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
word-spacing: normal;
width:100%;
height: 60px;
}

}
