/***************************************
 * @scriptAuthor Matthew Round <roundyz32@gmail.com>
 * @scriptDate   01-12-16 (21:00)
 * @scriptName   css/custom/app.css
 ***************************************/

body {
	background-image: url('https://i.ytimg.com/vi/px4anRUEVdc/maxresdefault.jpg');
	background-repeat: no-repeat;
	background-position: 0 -100px;
	color:white;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;	
}
.sidebar {
	height: 80vh;
	margin: 20px 80px 0;
}
.sidebar .logo {
	margin-bottom: 20px;
}
.sidebar .logo span {
	display: inline-block;
	padding: 10px 0px;
	float: left;	
	font-size: 1.2em;
	width: 50%;
	text-align: center;
}
.sidebar .logo .maxwell {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0px 0px 53px -13px rgba(0,0,0,0.75);		
	background: -webkit-linear-gradient(top,  #7181a4 0%,#122d68 100%);
}
.sidebar .logo .sports {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
	box-shadow: inset 0px 0px 53px -13px rgba(0,0,0,0.75);		
	background: -webkit-linear-gradient(top,  #dc7780 1%,#c41c2b 100%);
}
.sidebar .logo .maxwell a {
	color: white;
	margin: 0;
}


.time {
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
}
.time span {
	font-size: 1.5rem;
}

/**
 * panels
 */
.panel.panel-sports {
	border-radius: 10px;
	opacity: 0.9;
	box-shadow: inset 0px 0px 53px -13px rgba(0,0,0,0.75);			
	background: -webkit-linear-gradient(top,  #7181a4 0%,#122d68 100%);
	border: 3px solid #2D346A;
	text-align: center;
	min-height: 300px;
	margin-bottom: 0;
}
.panel.panel-sports .panel-title {
	padding: 15px 15px 0px;
	font-size: 1.5em; 
}
.panel.panel-sports .panel-title span.event {
	padding: 5px 10px;
	font-weight: 100;
	background: -webkit-linear-gradient(top,  #dc7780 1%,#c41c2b 100%);	
}
.panel.panel-sports .panel-body {
	position: relative;
}
.panel.panel-sports .panel-body img {
	max-width: 80%;
}

.panel.panel-sports .panel-body .win__percentage {
	position: absolute;
	top: 0;
	font-size: 8em;
	color: #c41c2b;
	text-align: center;
}

table.table.text-center tbody tr td, table.table.text-center thead tr th {
	text-align: center;
}

.bottom {
	padding: 10px;
	box-shadow: inset 0px 0px 53px -13px rgba(0,0,0,0.75);			
	background: -webkit-linear-gradient(top,  #7181a4 0%,#122d68 100%);
	border-top: 3px solid #2D346A;	
	border-bottom: 3px solid #2D346A;	
    width: 100%;
    bottom: 10px;
    opacity: 0.8;
    position: absolute;
}
