<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">                              
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Maxwell Sports HD (admin)</title>
	</head>
	<body data-ng-app="app">
		<div data-ng-controller="admin" data-ng-init="init()">
			<a href="/admin/addgame">ADD GAME</a>
			<div>
				<input class="adminNews" data-ng-model="news" type="text"></input>
				<button class="saveButton" type="button" data-ng-click="save()">save</button>
				<p>Clients: <span data-ng-bind="clientCount"></span></p>
				<span data-ng-show="ok">ok <a href="/">back</a></span>
			</div>
			<table class="playerInfo">
				<tr>
					<td>Player</td>
					<td>image</td>
					<td>country flag</td>
					<td>country name</td>
				</tr>
				<tr data-ng-repeat="player in players">
					<td data-ng-bind="player.name"></td>
					<td><input type="text" data-ng-bind="player.image" data-ng-model="player.image"></input></td>
					<td><input type="text" data-ng-bind="player.country.name" data-ng-model="player.country.name"></input></td>
					<td><input type="text" data-ng-bind="player.country.image" data-ng-model="player.country.image"></input></td>
				</tr>
			</table>
			<table class="event" data-ng-repeat="(key, event) in events">
				<tr>
					<td colspan="100%">
						<h1 class="eventName" data-ng-bind="event.name"></h1>
					</td>
					</tr>
						<td></td>
						<td>Played</td>
						<td>Wins</td>
						<td>Loses</td>
					<tr>
				</tr>
				<tr data-ng-repeat="player in event.scores"> 
					<td>{{player.name}}</td>
					<td><input type="number" data-ng-bind="player.played" data-ng-model="player.played"></input></td>
					<td><input type="number" data-ng-bind="player.wins" data-ng-model="player.wins"></input></td>
					<td><input type="number" data-ng-bind="player.loses" data-ng-model="player.loses"></input></td>
				</tr>
			</table>
		</div>
	</body>
	<script src="/js/all.js?p=admin" type="text/javascript"></script>
	<link href="/css/all.css?p=admin" rel="stylesheet">
</html>

