<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">                              
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Maxwell Sports HD</title>
		<link href="/css/all.css?p=overlay" rel="stylesheet">
	</head>
	<body data-ng-app="app">
		<canvas id="canvas" width="1920px" height="1080px"></canvas>
		<div id="overlay" data-ng-controller="overlay" data-ng-init="init()">
			<div class="rightSide">
				<div class="eventScoreBoard">
					<div class="maxwellSports"><span class="maxwell"><a href="/admin">Maxwell</a></span><span class="sports">Sports HD</span></div>
					<div class="dateContainer">
						<span class="time">{{date| date:'hh:mm'}}</span>
						<span class="hemiDay">{{date| date:'a'}}</span>
						<span class="date">{{date| date:'MMM dd'}}</span>
					</div>
					<span class="updating" ng-data-hide="connected == 0" data-ng-show="connected == 1">*</span>
				</div>
				<div class="eventScoreBoard">
					<p class="eventTitle">
						<span class="ultimate">ULTIMATE</span>
						<span class="eventName" data-ng-bind="currentEvent.name.toUpperCase()"></span>
					</p>
					<table class="scoreBoard">
						<tr>
							<td></td>
							<td>W</td>
							<td>L</td>
							<td>P</td>
							<td>%</td>
						</tr>
						<tr data-ng-repeat="(key, player) in currentEvent.scores | orderBy : '-wins'">
							<td data-ng-bind="player.name"></td>
							<td data-ng-bind="player.wins"></td>
							<td data-ng-bind="player.loses"></td>
							<td data-ng-bind="player.played"></td>
							<td>{{calculateWinPercentage(player)}}</td>
						</tr>
					</table>
					<div class="controls">
						<button ng-click="hold=true" ng-show="!hold">Hold</button>
						<button ng-click="hold=false" ng-show="hold == true">Continue</button>
						<a href="/admin/addgame">Add Game</a>
					</div>
				</div>
				<div class="eventScoreBoard">
					<div class="playerCard">
						<span class="profileName" data-ng-bind="currentPlayer.name"></span>
						<img class="profileImage" alt="image" data-ng-src="{{currentPlayer.image}}" />
						<div class="country">
							<img alt="image" data-ng-src="{{currentPlayer.country.image}}" />
						</div>
						<span class="countryName" data-ng-bind="currentPlayer.country.name"></span>
					</div>
					<span class="profileStats" data-ng-bind="caculateWinPercentage(currentPlayer)"></span>
				</div>
			</div>
			<div class="bottom">
				<ul class="eventsList">
					<li data-ng-repeat="event in events">{{event.name}}</li>
				</ul>
				<div id="news" class="news" data-ng-controller="news">
					<h1>MAXWELL NEWS</h1>
					<span data-ng-model="news" data-ng-bind="news"></span>
				</div>
				<ul class="vsList">
					<li data-ng-repeat="matchup in vsList">{{matchup.champ.name}} vs {{matchup.contender.name}}</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="/js/all.js?p=overlay" type="text/javascript"></script>
</html>
